*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Play, Roboto sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.section {
    margin-bottom: 96px;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 24px;
}