:root {
  --color-primary-dark: #011C44;
  --color-primary-light: #2B7FFF;
  --color-primary-white: #FFFFFF;
  --color-footer-date: #747272;
}

/* Base */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Play, Roboto sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  margin-bottom: 96px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
button {
  background-color: var(--color-primary-light);
  color: var(--color-primary-white);
  border: 2px solid var(--color-primary-light);
  border-radius: 32px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  padding: 32px, 16px;
  margin-bottom: 14px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.hero-section__button:hover,
.button_contacts:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
}

.button_contacts {
  width: 281px;
  height: 53px;
}

/* link */
.link_footer {
  color: var(--color-primary-white);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link_footer:hover {
  color: var(--color-primary-light);
}

/* header */
.header {
  padding: 32px 32px;
  position: sticky;
  top: 0;
  background: var(--color-primary-white);
  z-index: 5;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 920px) {
  .header__menu {
    display: none;
  }
}
.header__burger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  fill: var(--color-primary-dark);
}
@media screen and (max-width: 920px) {
  .header__burger {
    display: block;
  }
}
.header__social-links, .header li a svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  fill: var(--color-primary-dark);
}
@media screen and (max-width: 920px) {
  .header__social-links, .header li a svg {
    display: none;
  }
}
.header__link {
  color: var(--color-primary-dark);
  font-size: 18px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: var(--color-primary-light);
}

/* Hero section */
.hero-section {
  background-image: url("./images/beauty_background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-section .hero-section__container {
  padding-left: 106px;
  padding-top: 16px;
  padding-bottom: 196px;
}
.hero-section .hero-section__name {
  font-size: 18px;
  margin-bottom: 16px;
}
.hero-section .hero-section__title {
  color: var(--color-primary-light);
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
}
.hero-section .hero-section__button {
  width: 219px;
  height: 53px;
}
.hero-section .hero-section__description {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
  max-width: 238px;
}

/* about us section */
.about_us_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 32px;
  margin-bottom: 176px;
}

.description-about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.about_us-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
}

.about_us-title span {
  color: var(--color-primary-light);
}

.about_us-img {
  position: relative;
}

.about_us-img::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 120px;
  background-repeat: no-repeat;
  background-image: url("/images/star.png");
  content: " ";
  z-index: 2;
}

/* Why us section */
.why_us-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  max-width: 432px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.why_us-title span {
  color: var(--color-primary-light);
}

.card-why_us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 0 78px;
}

.card-why_us ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  padding: 16px;
  background: var(--color-primary-white);
  -webkit-box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
          box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  width: 316px;
  height: 181px;
}

.card-why_us ul li p {
  text-align: center;
  font-size: 18px;
  max-width: 252px;
}

.card-why_us ul li svg {
  width: 48px;
  height: 48px;
  fill: var(--color-primary-light);
}

.section_why-us {
  position: relative;
}

.section_why-us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1785px;
  top: -200px;
  left: 0;
  background-image: url("/images/background_blue.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
}

/* our_procedures section */
.our_procedures-titile {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  max-width: 432px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.our_procedures-titile span {
  color: var(--color-primary-light);
}

.content-our_procedures-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.content-our_procedures-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-our_procedures-section li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content-our_procedures-section img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 120px;
}

.procedure-item {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.procedure-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.procedure-overlay {
  inset: 0;
  border-radius: 4px 120px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(45%, rgba(1, 28, 68, 0)), color-stop(80%, rgba(1, 28, 68, 0.73)), to(rgb(1, 28, 68)));
  background: linear-gradient(180deg, transparent 40%, rgba(1, 28, 68, 0) 45%, rgba(1, 28, 68, 0.73) 80%, rgb(1, 28, 68) 100%);
  pointer-events: none;
  position: absolute;
  bottom: 10px;
}

.list_our-procedures li p {
  position: absolute;
  right: 35px;
  bottom: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.1;
  color: var(--color-primary-white);
  font-size: 22px;
  font-weight: 400;
}

.content-our_procedures-section p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.4;
}

.button-our_procedures {
  width: 44px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.button-our_procedures:hover {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-white);
}

.button-our_procedures:hover svg {
  fill: white;
}

.button-our_procedures svg {
  width: 16px;
  height: 16px;
  fill: var(--color-primary-dark);
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.content-our_procedures-section button:last-child svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Contacts section */
.contacts_title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  max-width: 432px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.contacts_title span {
  color: var(--color-primary-light);
}

.map {
  border-radius: 32px;
  max-width: 605px;
  max-height: 480px;
  -webkit-filter: grayscale(1) opacity(0.9);
          filter: grayscale(1) opacity(0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.map:hover {
  -webkit-filter: grayscale(0) opacity(1);
          filter: grayscale(0) opacity(1);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.content_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 420px;
  height: 480px;
  background: var(--color-primary-dark);
  border-radius: 32px;
}

.form_contacts h4 {
  color: var(--color-primary-white);
  font-weight: 600;
  line-height: 100%;
  max-width: 274px;
  margin: 48px auto 32px;
}

.form_contacts h4 span {
  color: var(--color-primary-light);
}

.action_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.input_contact {
  width: 310px;
  height: 50px;
  border: 2px solid var(--color-footer-date);
  border-radius: 32px;
  padding: 18px 32px;
  background-color: transparent;
  color: var(--color-primary-white);
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input_contact::-webkit-input-placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  font-weight: 400;
}

.input_contact::-moz-placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  font-weight: 400;
}

.input_contact:-ms-input-placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  font-weight: 400;
}

.input_contact::-ms-input-placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  font-weight: 400;
}

.input_contact::placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
  font-weight: 400;
}

.button_p_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_p_contact p {
  font-size: 12px;
  color: var(--color-footer-date);
  text-align: center;
  max-width: 213px;
}

.button_p_contact p a {
  color: var(--color-footer-date);
  text-decoration: underline;
}

/* footer */
.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  gap: 20px;
}

.nav_footer,
.address_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  gap: 20px;
}

.logo_footer,
.menu_footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.address_list,
.address_info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.social_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

footer {
  position: relative;
  padding: 32px 0;
  font-size: 16px;
  background: var(--color-primary-dark);
  background-image: url("/images/background_footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link_social_footer {
  fill: var(--color-primary-white);
}

footer a {
  color: var(--color-primary-white);
}

footer p {
  color: var(--color-footer-date);
}

footer::after {
  position: absolute;
  width: 250px;
  height: 150px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url("/images/pexels-photo-footer.png");
  content: " ";
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  z-index: 6;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: auto;
  max-height: 880px;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  padding: 60px 80px;
  margin: 20px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal_title {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  color: var(--color-primary-white);
  margin-bottom: 40px;
}

.modal_title_p {
  font-weight: 600;
  text-align: center;
  color: var(--color-primary-white);
  margin-bottom: 32px;
}

.modal_title_p span {
  color: var(--color-primary-light);
}

form {
  gap: 24px;
}/*# sourceMappingURL=main.css.map */