:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #2B7FFF;
    --color-primary-white: #FFFFFF;
    --color-footer-date: #747272;
}

$bp-mobile: 500px;
$bp-tablet: 1100px;
$bp-desktop: 1280px;
