header {
    padding: 32px 0;
    position: sticky;
    top: 0;
    background: var(--color-primary-white);
    z-index: 5;
}

.header_nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.header_container {
    display: flex;
    align-items: center;
}