.hero_section {
    background-image: url('/images/beauty_background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

.hero_title {
    color: var(--color-primary-light);
    text-transform: capitalize;
    font-size: 140px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
}

.name_hero {
    font-size: 18px;
    margin-bottom: 16px;
}

.description_hero {
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    max-width: 238px;
}

.hero_container {
    padding-left: 106px;
    padding-top: 16px;
    padding-bottom: 196px;
}