.link {
    color: var(--color-primary-dark);
    font-size: 18px;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-primary-light);
}

.link_footer {
    color: var(--color-primary-white);
    transition: color 0.3s;
}

.link_footer:hover {
    color: var(--color-primary-light);
}

.link_header {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.link_social_header {
    display: flex;
    gap: 32px;
}

.link_social_header {
    fill: var(--color-primary-dark);
}