.about-us-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 176px;
  &__description {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__title {
      color: var(--color-primary-dark);
      font-size: 64px;
      font-weight: 700;
      line-height: 100%;
      @media screen and (max-width: $bp-tablet) {
        font-size: 48px;
      }
      @media screen and (max-width: $bp-mobile) {
        font-size: 36px;
      }
    }
    &__title span {
      color: var(--color-primary-light);
    }
  }
  &__img {
    flex: 0 0 500px;
    position: relative;
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &__img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 120px;
    background-repeat: no-repeat;
    background-image: url('../../../genius_courses/images/star.png');
    content: ' ';
    z-index: 2;
    display: none;
    @media screen and (min-width: 1440px) {
      display: block;

    }
  }
}
