.hero-section {
  background-image: url("../../../genius_courses/images/beauty_background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media screen and (max-width: $bp-tablet) {
    background-position: center top;
  }
  @media screen and (max-width: $bp-mobile) {
    .hero-section {
      background-position: center left;
    }
  }

  &__container {
    padding-left: 106px;
    padding-top: 16px;
    padding-bottom: 196px;
    @media screen and (max-width: $bp-tablet) {
      padding-left: 5%;
    }

    &__name {
      font-size: 18px;
      margin-bottom: 16px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 14px;
        margin-bottom: 16px;
      }
    }
    &__title {
      color: var(--color-primary-light);
      text-transform: capitalize;
      font-size: 140px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 40px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 100px;
      }
    }

    &__button {
      width: 219px;
      height: 53px;
    }

    &__description {
      line-height: 1.5;
      font-size: 12px;
      font-weight: 400;
      max-width: 238px;
      @media screen and (max-width: $bp-tablet) {
        font-size: 10px;
        max-width: 170px;
      }
    }
  }
}
