.hero-section {
    background-image: url('./images/beauty_background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .hero-section__container {
        padding-left: 106px;
        padding-top: 16px;
        padding-bottom: 196px;
    }

    .hero-section__name {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .hero-section__title {
        color: var(--color-primary-light);
        text-transform: capitalize;
        font-size: 140px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 40px;
    }

    .hero-section__button {
        width: 219px;
        height: 53px;
    }

    .hero-section__description {
        line-height: 1.5;
        font-size: 12px;
        font-weight: 400;
        max-width: 238px;
    }
}